* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  
    color: #050101; 
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f4a261;
}

.hero {
    background-color: #48754f;
    color: rgb(255, 255, 255);
    padding: 100px 0;
    text-align: center;
}

.hero .container {
   
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.anime-collection {
    padding: 50px 0;
    background-color: #ffffff;
}

.anime-collection h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

.anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 0 20px;
}

.anime-item {
    background-color: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.anime-item img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #e76f51;
}

.anime-item h3 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.anime-item p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.anime-item:hover {
    transform: translateY(-10px);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

